body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
header {
    font-family: "Open Sans", sans-serif;
    background-color: #67bbc1;
    color: rgb(14, 12, 12);
    padding: 1rem;
    font-weight: bolder;
    text-align: center;
}
.eight {
    display: flex;
    justify-content: space-around;
    background-color:rgba(131, 201, 198, 0.2);
    padding: 0.5rem;
    margin-top: -40px;
    margin-bottom: 10px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}
nav a:hover {
    background-color: #28a745;
    border-radius: 5px;
}
.container {
    color: #f8f9fa;
    padding: 2rem;
    background: url(dashboardimage.jpg);
  
    background-size: cover;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}
table, th, td {
    border: 1px solid #dee2e6;
}
th, td {
    padding: 1rem;
    text-align: left;
}
th {
    
    color: white;
}
form {
    display: flex;
    flex-direction: column;
}
label, input, select, button {
    margin-bottom: 1rem;
    padding: 0.5rem;
}
button {
    background-color: #69c2c2;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
.seven{
    margin-top: 5px;
   
}
h2{
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    
}

